// media queries
$x-1-maxWidth = 680px
$x-2-minWidth = $x-1-maxWidth + 1
$y-1-maxHeight = 400px
$y-2-minHeight = $y-1-maxHeight + 1

$x-1 = '(max-width ' + $x-1-maxWidth + ')'
$x-2 = '(min-width ' + $x-2-minWidth + ')'
$y-1 = '(max-height ' + $y-1-maxHeight + ')'
$y-2 = '(min-height ' + $y-2-minHeight + ')'
$x-y-1 = $x-1 + ' and ' + $y-1

// colors
$color-white1 = #fff
$color-black1 = #000
$color-brown1 = #37322f
$color-gray1 = #787877
$color-gray2 = #f8f8f8
$color-blue1 = #167ac6

// font-size
$font-1 = 12px
$font-2 = 13px
$font-3 = 15px
$font-4 = 18px
$font-5 = 20px
$font-6 = 30px
$font-7 = 40px
$font-8 = 50px

// margins and paddings
$space-1 = 5px
$space-2 = 10px
$space-3 = 15px
$space-4 = 20px
$space-5 = 30px
