@import '../base/browser_sync.styl'
@import '../base/variables.styl'
@import '../base/custom_reset.styl'

@import '../modules/luizdch_section.styl'
@import '../modules/about_me_section.styl'
@import '../modules/work_section.styl'
@import '../modules/email_section.styl'

@import '../reusable/cards.styl'
@import '../reusable/indicators.styl'
