.email.card {
   background-color $color-brown1

   h2 {
      margin-top auto
      color $color-gray1
      text-align center
      font-weight 300
      user-select auto
   }
   h2::selection {
      color $color-brown1
      background-color $color-gray2
   }

}
